
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);     
    padding: 20px; 
    height: 1000px; 
    width: 1500px; 
}

.container div {
    border: 1px solid black;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 24px; 
}
.bilde{
    position: relative;
    width: 100%;
}
.overlay{
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.bilde:hover .overlay {
  width: 100%;
  left: 0;
}