
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);     
  padding: 20px; 
  height: 1000px; 
  width: 1500px; 
  transition: transform 5s ease;
  transform-origin: center;
}

.container div {
  border: 1px solid black;
  display: flex; 
  justify-content: center;
  align-items: center;
  font-size: 24px; 
}
.bilde {
  position: relative;
  width: 300px; /* adjust to your image size */
  overflow: hidden;
}

.bilde img {
  width: 100%;
  display: block;
}

.overlay-img {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  transition: left 0.6s ease;
}

.bilde:hover .overlay-img {
  left: 0;
}

.bubble {
  min-height: 5vh;
  min-width: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid green;
  border-radius: 50%;
  animation: breathe 12s linear infinite;
  position: absolute;
  background-color: aqua;
}

@keyframes breathe {
  0%,
  100% {
    height: 5vh;
    width: 5vh;
  }
  33.333% {
    width: 20vh;
    height: 20vh;
  }
}
.rotate-left {
transform: rotateY(-360deg);
}

.rotate-right {
transform: rotateY(360deg);
}
.register-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.register-box h3 {
  margin-bottom: 10px;
}




