.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);     
    padding: 20px; 
    height: 1000px; 
    width: 1500px; 
}

.container div {
    border: 1px solid black;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 24px; 
}
.overlay{
  position: absolute;
  bottom: 0;
  left: 30%;
  right: -50%;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s left ease;
}
.bilde:hover .overlay {
  width: 100%;
  left: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .bubble {
    min-height: 10vh;
    min-width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid green;
    border-radius: 50%;
    animation: breathe 12s linear infinite;
  }
  
  @keyframes breathe {
    0%,
    100% {
      height: 10vh;
      width: 10vh;
    }
    33.333% {
      width: 50vh;
      height: 50vh;
    }
  }
